
body {
  margin: 0;
  overflow: hidden;
  background: black;
}

h1, h2, h3, h4, h5, h6, p {
  text-align: center;
  font-family: 'Cascadia Code', monospace;
  background-color: rgba(0, 0, 0, 0.6); /* Make text stand out in front of background */
}

.transparent-highlight {
  background-color: rgba(0, 0, 0, 0.6); 
  border-radius: 10px;
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
}

.content {
  display: none;
  padding-inline: 10px;
}

h2.errorMessage {
  font-size: 2rem;
  margin-top: 11vh;
}

p.errorMessage {
  font-size: 1.25rem;
  text-align: center;
}

#gifContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 80%;
}

.center {
  margin-inline: auto;
  display: flex;
  justify-content: center;
}

#gifContainer img {
  max-width: 200px; /* Adjust size as needed */
}

button {
  font-family: 'Cascadia Code', monospace;
  border-width: 2.8px;
  border-radius: 8px;
  border-style: solid;
  padding: 9px;
  border-color: rgb(0, 255, 0);
  color: rgb(0, 255, 0);
  background-color: black;
  cursor: pointer;
}

button:active {
  color: black;
  border-color:white;
  background-color: rgb(0, 255, 0);
}

.code {
  font-family: monospace;
  background-color: #1c2134;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 20px;
  max-width: 500px;
  margin-inline: 20px;
  border-width: 2.8px;
  border-style: solid;
  border-color: rgb(0, 255, 0);
  color: rgb(0, 255, 0);
}
